<h2>Create a new Meetup</h2>

<div id="new-meetup-form">
  <form action="/meetups/new" method="post">
    <label for="name">Meetup Name:</label>
    <input type="text" id="name" name="new_meetup[name]" value="<%= @new_meetup.name %>">
    <br><label for="location">Location:</label>
    <input type="text" id="location" name="new_meetup[location]" value="<%= @new_meetup.location %>">
    <br><label for="description">Description:</label>
    <textarea  id="description" name="new_meetup[description]" value="<%= @new_meetup.description %>"></textarea>

    <br><input id="submit-meetup" type="submit" value="Add Meetup">

  </form>
</div>

<br><br><br><a href="/meetups"><h2>Back to all meetups</h2></a>
